@import "styles/variables.scss";

.select {
  width: 100%;

  label {
    display: block;
    font-size: $text-sm;
    font-weight: $font-light;
    color: $bg-400;
  }

  &.label {
    .container {
      height: fit-content;
      padding: $p-md;

      .required_mark {
        color: $primary-500;
      }

      .content {
        height: min-content;
      }
    }
  }

  .container {
    height: $field-height-md;
    border: 1px solid $bg-100;
    border-radius: $border-radius;
    padding: $p-md;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .content_container {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 100%;
    }

    & > div > div:nth-of-type(2) {
      box-shadow: $box-shadow;
      width: max-content;
    }
  }
}

.small {
  .container {
    height: $field-height-sm;
    padding: $p-sm;
  }
}

.large {
  .container {
    height: $field-height-lg;
    padding: $p-lg;
  }
}

.filled {
  .container {
    border: none;
  }

  .container,
  input {
    background-color: white;
    border: 1px solid $bg-100;
  }
}

.disabled {
  .container {
    background-color: $bg-100;
    border: none;
  }
}

.no-outlined {
  .container {
    border: none;
  }
}
