@import "styles/variables.scss";

.panel {
  cursor: pointer;
  width: calc(100% / 5 - 16px);
  margin-bottom: 36px;
  position: relative;
  aspect-ratio: 1;
  max-width: 200px;
  margin: 0 auto 36px;

  .image_container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    overflow: hidden;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  .logo_container {
    width: 100%;
    position: absolute;
    bottom: -30px;
    .logo_wrapper {
      border-radius: $border-radius;
      background-color: white;
      padding: 10px;
      width: 90%;
      margin: auto;
      box-shadow: 0px 16px 16px rgba(205, 204, 221, 0.25);
    }
  }
}

@media (max-width: 768px) {
  .panel {
    width: calc(100% / 4 - 16px);
    max-width: 180px;
    margin-bottom: 24px;
  }
}

@media (max-width: 568px) {
  .panel {
    width: calc(100% / 2 - 16px);
    max-width: 160px;
    margin-bottom: 24px;
  }
  .hide {
    display: none !important;
  }
}
