@import "styles/variables.scss";

.date_picker_container {
  width: 100%;
  min-width: fit-content;
  padding: $p-md;
  border: 1px solid $bg-100;
  border-radius: $border-radius;
  box-sizing: border-box;

  input {
    width: 100%;
    height: $input-height;
    font-weight: $font-light;
    font-size: $text-md;
    text-overflow: ellipsis;
    border: none;
    color: $bg-700;
    box-sizing: border-box;
    line-height: $line-height;
    background-color: transparent;

    &:disabled {
      color: $bg-400;
      background-color: $bg-100;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $bg-400;
    }

    &::placeholder {
      color: $bg-400;
    }

    &::-moz-placeholder {
      color: $bg-400;
    }
  }

  label {
    display: block;
    font-size: $text-xs;
    font-weight: $font-light;
    color: $bg-400;
  }

  &.label {
    .container {
      height: fit-content;
      padding: $p-sm;

      .content {
        height: min-content;
      }
    }
  }

  .input_field {
    display: flex;
    gap: 6px;
    .date_picker {
      width: 100%;
      outline: none;
    }

    .calendar {
      z-index: 5;
      border: none;
      box-shadow: $box-shadow;
    }
  }

  &.smal {
    padding: $p-sm;
  }

  &.large {
    padding: $p-lg;
  }

  &.filled {
    background-color: white;
    min-width: unset;
  }
}
