@import 'styles/variables.scss';

.wrapper {
  width: 644px;
  max-width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    margin-bottom: 28px;
    .text {
      font-weight: $font-semi-bold;
      font-size: $text-xs;
      line-height: $line-height-lg;
      color: #616286;
    }
    .input {
      width: 100%;
      max-width: 100%;
      .icon {
        cursor: pointer;
      }
    }
  }
  .btn {
    margin-top: 60px;
  }
}
