@import "/styles/variables.scss";

.button {
  --color: white;
  --bg-color: red;
  --hover-bg-color: #262261c7;
  --hover-color: white;
  --hover-border-color: #262261c7;
  width: max-content;

  display: flex;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  color: var(--color);
  background-color: var(--bg-color);
  font-weight: 400;
  min-height: 42px;

  &:hover {
    background-color: #d8342b;
    color: var(--hover-color);
    border-color: var(--hover-border-color);
  }

  &.outlined {
    color: black;
    background-color: white;
    border: 1px solid black;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.outlined-white {
    --color: white;
    --border-color: white;
    --bg-color: transparent;
    --hover-color: black;
    --hover-bg-color: white;
  }

  &.text {
    --color: var(--grey-800);
    --bg-color: transparent;
    --border-color: transparent;
    --hover-bg-color: black;
    --hover-color: var(--primary);
    --hover-border-color: transparent;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.danger {
    --bg-color: var(--red);
    --border-color: var(--red);
    --hover-bg-color: #ed4245c9;
    --hover-border-color: #ed4245c9;

    &.outlined {
      --color: var(--red);
      --border-color: var(--red);
      --bg-color: transparent;
      --hover-color: white;
      --hover-bg-color: var(--red);
    }
  }
}
