.img_wrapper {
  display: flex;
  position: relative;
  min-width: 30%;
  border-radius: 2rem;
  height: 300px;
  // aspect-ratio: 2/1;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
  color: red;
}

.brand {
  width: 100%;
  border-top: 1px solid rgb(240, 242, 245);
  border-bottom: 1px solid rgb(240, 242, 245);
  padding: 1rem;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  color:rgb(24, 135, 219);
  margin-top: 4rem;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  .brand_img {
    width: 80px;
    aspect-ratio: 1/1;
    position: relative;
  }
}