@import "/styles/variables.scss";

.footer {
  color: $primary-800;
  font-size: $text-sm;
  line-height: $line-height-xl;
  // margin-top: 100px;
  background-image: url("/assets/footer/background.png");
  .upper_section {
    padding-top: 55px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary-100;
    .icon_items {
      width: 45%;
      gap: 6px;
      display: flex;
      text-align: center;
      .item {
        width: calc(100% / 3);
        .content {
          color: $primary-400;
        }
      }
    }
    .logo_items {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      div {
        margin-top: 18px;
        color: white;
        font-weight: 700;
        font-size: $text-2xl;
        line-height: $line-height-xl;
      }
    }
  }
  .lower_section {
    gap: 20px;
    margin-top: 65px;
    display: flex;
    justify-content: flex-start;
    .sm_column_group {
      width: 60%;
      display:  flex;
      gap: 16px;
    }
    .sm_column {
      width: calc(100% / 3);
      gap: 12px;
      .title {
        font-size: $text-md;
        line-height: $line-height-lg;
        color: white;
        font-weight: 700;
        text-align: center;
        width: fit-content;
      }
      .list_item {
        margin-top: 16px;
        div {
          cursor: pointer;
          margin: 8px 0;
        }
      }
    }
    .lg_column {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .social_buttons {
        display: flex;
        justify-content: space-between;
        .button {
          border: 1px solid $primary-300;
          border-radius: 50%;
          padding: 12px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: white;
            transition: 0.3s;
          }
        }
      }
    }

    .member_column {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .member_cards {
        height: 100px;
        width: 195px;
        position: relative;
        .card {
          position: absolute;
          width: 45%;
          &_1 {
            bottom: 0;
            z-index: 3;
            left: 25%;
          }
          &_2 {
            right: 0;
          }
          &_0 {
            left: 0;
          }
        }
      }
      .button {
        padding: $p-xl;
        border: 1px solid $primary-300;
        border-radius: $border-radius;
        color: white;
        font-size: $text-md;
        line-height: $line-height-lg;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .social_button_section {
    display: none;
  }

  .license {
    padding: 20px 0;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: $small-desktop) {
  .member_column {
    .button {
      padding: 13px 38px !important;
    }
  }
}

@media (max-width: $big-tablet) {
  .footer {
    .lower_section {
      flex-direction: column-reverse;
      gap: 32px;
      .sm_column_group {
        width: 100%;
        .sm_column {
          .title {
            text-align: start;
          }
        }
        .member_column {
          .member_cards {
            height: 75px;
            width: 150px;
          }
        }
        .button {
          font-size: $text-sm;
          padding: $p-md !important;
        }
      }
      .lg_column {
        .social_buttons {
          display: none;
        }
      }
    }

    .social_button_section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;
      flex-wrap: wrap;
      gap: 16px;
      .social_buttons {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        .button {
          border: 1px solid $primary-300;
          border-radius: 50%;
          padding: 12px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: white;
            transition: 0.3s;
          }
        }
      }
    }

    .license {
      .image {
        display: none;
      }
    }
  }
}

@media (max-width: $medium-tablet) {
  .footer {
    .upper_section {
      flex-direction: column;
      border-bottom: none;
      .icon_items {
        width: 100%;
        margin-bottom: 32px;
      }
      .logo_items {
        align-items: flex-start;
        width: 100%;
        div {
          font-size: $text-lg;
        }
      }
    }
    .lower_section {
      margin-top: 0px;
      .lg_column {
        width: 60%;
      }
    }
  }
}

@media (max-width: $small-tablet) {
  .footer {
    .lower_section {
      .sm_column_group {
        .member_column {
          .member_cards {
            height: 55px;
            width: 110px;
          }

          .button {
            font-size: $text-xs;
            padding: $p-sm !important;
          }
        }
      }
    }
  }
}