@import "/styles/variables.scss";

.footer {
  color: $primary-800;
  font-size: $text-sm;
  line-height: $line-height-xl;
  margin-top: 100px;
  background-image: url("/assets/footer/background.png");
  .upper_section {
    padding-top: 55px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $primary-100;
    .icon_items {
      width: 45%;
      display: flex;
      text-align: center;
      .item {
        width: calc(100% / 3);
        .content {
          color: $primary-400;
        }
      }
    }
    .logo_items {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      div {
        margin-top: 18px;
        color: white;
        font-weight: 700;
        font-size: $text-2xl;
        line-height: $line-height-xl;
      }
    }
  }
  .lower_section {
    gap: 20px;
    margin-top: 65px;
    display: flex;
    justify-content: flex-start;
    .sm_column {
      width: 20%;
      .title {
        font-size: $text-md;
        line-height: $line-height-lg;
        color: white;
        font-weight: 700;
        text-align: center;
        width: fit-content;
      }
      .list_item {
        margin-top: 16px;
        div {
          cursor: pointer;
          margin: 8px 0;
        }
      }
    }
    .lg_column {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .social_buttons {
        display: flex;
        justify-content: space-around;
        .button {
          border: 1px solid $primary-300;
          border-radius: 50%;
          padding: 12px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: white;
            transition: 0.3s;
          }
        }
      }
    }

    .member_column {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .member_cards {
        height: 110px;
        width: 190px;
        position: relative;
        .card {
          position: absolute;
          &_1 {
            bottom: 0;
            z-index: 3;
            left: 25%;
          }
          &_2 {
            right: 0;
          }
          &_0 {
            left: 0;
          }
        }
      }
      .button {
        padding: $p-xl;
        border: 1px solid $primary-300;
        border-radius: $border-radius;
        color: white;
        font-size: $text-md;
        line-height: $line-height-lg;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .license {
    padding: 20px 0;
    display: flex;
    gap: 10px;
  }
}