@import "/styles/variables.scss";

.wrapper {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    .row1 {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        margin-bottom: 35px;
        .img {
            width: 72px;
            aspect-ratio: 1/1;
            position: relative;
            border-radius: 50%;
            border: 1px solid $primary-200;
            margin-right: 25px;
        }
    }
    .row2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-bottom: 30px;
        .text {
            font-size: $text-xs;
            font-weight: $font-bold;
            line-height: $line-height;
            margin-left: 10px;
            margin-bottom: 5px;
        }
        .input {
            max-width: 100%;
            &.date {
                max-width: 532px;
            }
        }
    }
    .btn {
        margin-top: 64px;
    }
    @media screen and (max-width: $tablet) {
        padding: 10px;
        .row1 {
            margin-bottom: 20px;
        }
        .row2 {
            margin-bottom: 15px;
        }
        .btn {
            margin-top: 30px;
        }
    }
    @media screen and (max-width: $mobile){
        padding: 5px;
        .row1 {
            margin-bottom: 10px;
        }
        .row2 {
            margin-bottom: 10px;
        }
        .btn {
            margin-top: 10px;
        }
    }
}