$desktop-header-height: 120px;
$mobile-header-height: 60px;

$content-max-width: 1440px;
$content-width: 81%;
$content-width-special: 90%;

$border-radius: 8px;

//input field
$input-height: 22px;
$field-height-sm: 34px;
$field-height-md: 40px;
$field-height-lg: 52px;

//padding
$p-xl: 13px 48px;
$p-lg: 12px 16px;
$p-md: 8px 12px;
$p-sm: 6px 9px;
$p-xs: 4px 8px;

//font-weight
$font-bold: 700;
$font-semi-bold: 600;
$font-normal: 500;
$font-base: 400;
$font-light: 300;

//font-size
$text-3xl: 32px;
$text-2xl: 28px;
$text-xl: 24px;
$text-lg: 20px;
$text-lg: 18px;
$text-md: 16px;
$text-sm: 14px;
$text-xs: 12px;
$text-2xs: 10px;

//line-height
$line-height: 1;
$line-height-lg: 1.25;
$line-height-xl: 1.5;

//box-shadow
$box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

//break-points
$medium-desktop: 1400px;
$desktop: 1280px;
$small-desktop: 1315px;
$big-tablet: 1024px;
$tablet: 900px;
$medium-tablet: 768px;
$small-tablet: 675px;
$mobile: 500px;
$medium-mobile: 450px;
$small-mobile: 380px;
$mini-mobile: 360px;

///colors
$blue-100: #d9efff;
$blue-200: #b2dfff;
$blue-300: #8cceff;
$blue-400: #65beff;
$blue-50: #ecf7ff;
$blue-500: #3faeff;
$blue-600: #2f83bf;
$blue-700: #205780;

$green-100: #d2f2e3;
$green-200: #a5e5c7;
$green-300: #77d9ab;
$green-400: #4acc8f;
$green-50: #e9f9f2;
$green-500: #1dbf73;
$green-600: #168f56;
$green-700: #0f603a;

$orange-100: #ffe7d5;
$orange-200: #ffcfac;
$orange-300: #ffb682;
$orange-400: #ff9e59;
$orange-50: #fff3eb;
$orange-500: #ff862f;
$orange-600: #bf6523;
$orange-700: #804318;

$yellow-100: #fdf6d8;
$yellow-200: #faecb2;
$yellow-300: #f8e38b;
$yellow-400: #f5d965;
$yellow-50: #fefbec;
$yellow-500: #f3d03e;
$yellow-600: #b69c2f;
$yellow-700: #7a681f;

$bg-0: #ffffff;
$bg-50: #f5f5f5;
$bg-70: #eeeeee;
$bg-100: #e2e4e9;
$bg-200: #c6c8d2;
$bg-300: #a4a8b7;
$bg-400: #7f859f;
$bg-500: #3c4467;
$bg-600: #2d334d;
$bg-700: #131620;

$primary-100: #303D50;
$primary-20: #fef1f2;
$primary-200: #f599a0;
$primary-300: #9596A3;
$primary-400: #A0A0A0;
$primary-50: #fde6e8;
$primary-500: #e60112;
$primary-600: #ad010e;
$primary-700: #730109;
$primary-800: #A0A0A0;
$primary-900: #170002;

$primary: #F9D311;

$dark-0: #000000;